@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url('https://fonts.googleapis.com/css?family=Concert+One|Kaushan+Script|Ovo');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Kaushan+Script|Ovo');

$yellow: #F7C242;
$blue: #58B2DC;

html, body {
  margin: 0;
  padding: 0;
  background-color: lighten($color: $blue, $amount: 30);
  // font-family: 'Kaushan Script', cursive;
  // font-family: 'Concert One', cursive;
  // font-family: 'Ovo', serif;
}
.wrapper {
  min-height: 80vh;
  margin-top: 20vh;
}

@media (min-width: 700px) {
  .wrapper {
    min-height: 90vh;
    margin-top: 10vh;
  }
}

.post-content {
  font-size: 1.2em;
  font-family: 'Ovo', serif;
  // font-family: ‘cwTeXKai’, serif;
}

.btn__center {
  width: 30%;
  height: 50px;
  margin: 20px 0 20px 50%;
  transform: translateX(-50%);
  border-radius: 3%;
  text-align: center;
  border: solid 2px $blue;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.btn__center:hover {
  background-color: $blue
}

.Coding {
  background-image: url(assets/image/coding.jpg);
}

.Design {
  background-image: url(assets/image/design.jpg);
}

.Life {
  background-image: url(assets/image/life.jpg);
}

.Travel {
  background-image: url(assets/image/travel.jpg);
}


.no-select {
  cursor: default;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}